#block-container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;    
}

.grid-square {
    border: 2px solid black; 
    aspect-ratio: 1 / 1; 
    width: 50px;
    box-sizing: border-box;
}