#block-container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;    
}

.grid-square {
    border: 2px solid black; 
    aspect-ratio: 1 / 1; 
    width: 50px;
    box-sizing: border-box;
}

#change-size-btn {
    background-color: rgb(154, 0, 0);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}